<!DOCTYPE HTML>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portfolio - Pranav Sompura</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{%  static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{%  static 'css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{%  static 'css/bootstrap.css' %}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{%  static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{%  static 'js/modernizr-2.6.2.min.js' %}"></script>

</head>

<body>

	<div class="fh5co-loader"></div>

	<div id="page">
		<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner"
			style="background-image:url(static/images/cover_bg_3.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t js-fullheight">
							<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
								<div class="profile-thumb" style="background: url(static/images/profile.jpg);"></div>
								<h1><span>Hey There! I'm Pranav Sompura</span></h1>
								<h3><span>Web Developer</span></h3>
								<p>
								<ul class="fh5co-social-icons">
									<li>
										<a href="https://x.com/sompura_pranav">
											<img src="{% static 'images/twitter.svg' %}" alt="X" style="width: 30px; height: 30px; margin-bottom: 20px;">
										</a></li>
									<li><a href="https://www.instagram.com/pranav_sompura/"><i class="icon-instagram2"></i></a></li>
									<li><a href="https://www.linkedin.com/in/pranav-sompura-7771141ba/"><i class="icon-linkedin2"></i></a></li>
									<li><a href="https://www.facebook.com/pranav.sompura.14/"><i class="icon-facebook2"></i></a></li>
								</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div id="fh5co-about" class="pb-0 animate-box">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>About Me</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<ul class="info">
							<li><span class="first-block">Full Name:</span><span class="second-block">Pranav Kamlesh Sompura</span></li>
							<li><span class="first-block">Phone:</span><span class="second-block">+91 96191 65523</span>
							</li>
							<li><span class="first-block">Email:</span><span
									class="second-block">pranavsompura0804@gmail.com</span></li>
							<li><span class="first-block">Address:</span><span class="second-block">B-1101, Keshar Samruddham, Vaishnodevi Circle, Ahmedabad, 382421</span></li>
						</ul>
					</div>
					<div class="col-md-7">
						<h2>Hello There!</h2>
						<p>I'm a developer and leader driving impactful solutions</p>
						<p>A developer and leader who combines technical expertise with visionary leadership to drive innovation and deliver results.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-resume" class="fh5co-bg-color">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>My Resume</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-md-offset-0">
						<ul class="timeline">
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Work Experience</h3>
								</div>
							</li>
							<li class="animate-box timeline-unverted">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Junior Backend Developer</h3>
										<span class="company">Crista Technologies - 2024 - present</span>
									</div>
									<div class="timeline-body">
										<p>Led the development and management of the company's E-Commerce product, as well as E-Commerce services for clients based in Canada.</p>
									</div>
								</div>
							</li>
							<li class="timeline-inverted animate-box">
								<div class="timeline-badge"><i class="icon-suitcase"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Junior Backend Developer</h3>
										<span class="company">Wama Software - Jun 2023 - Dec 2023</span>
									</div>
									<div class="timeline-body">
										<p>Gained hands on experience in managing a software product and improvised the company's School Management System Solutions.</p>
									</div>
								</div>
							</li>

							<br>
							<li class="timeline-heading text-center animate-box">
								<div>
									<h3>Education</h3>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">Bachelor's Degree of Computer Science</h3>
										<span class="company">Indus Institute of Technology - 2019 - 2023</span>
									</div>
									<div class="timeline-body">
										<p>Scored 9.6 CGPA.</p>
									</div>
								</div>
							</li>
							<li class="animate-box timeline-inverted">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">HSC (Higher Secondary Ed.)</h3>
										<span class="company">Kamaladevi College - 2017 - 2019</span>
									</div>
									<div class="timeline-body">
										<p>Scored 68%.</p>
									</div>
								</div>
							</li>
							<li class="timeline-unverted animate-box">
								<div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h3 class="timeline-title">SSC (Secondary Ed.)</h3>
										<span class="company">New Vani Vidhyashala - 2017</span>
									</div>
									<div class="timeline-body">
										<p>Scored 91.6%.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div id="fh5co-features" class="animate-box">
			<div class="container">
				<div class="services-padding">
					<div class="row justify-content-center">
						<div class="m-auto col-md-8 col-md-offset-2 text-center fh5co-heading" style="margin-bottom: 30px !important;">
							<h2>My Expertise</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-center d-flex justify-content-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-paintbrush"></i>
								</span>
								<div class="feature-copy">
									<h3>Web Development</h3>
								</div>
							</div>
						</div>

						<div class="col-md-4 text-center d-flex justify-content-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-briefcase"></i>
								</span>
								<div class="feature-copy">
									<h3>Database Management</h3>
								</div>
							</div>

						</div>
						<div class="col-md-4 text-center d-flex justify-content-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-search"></i>
								</span>
								<div class="feature-copy">
									<h3>REST APIs</h3>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 text-center d-flex justify-content-center">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-bargraph"></i>
								</span>
								<div class="feature-copy">
									<h3>Git (Version Control)</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-skills" class="animate-box">
			<div class="container">
				<div class="row">
					<div class="m-auto col-md-8 col-md-offset-2 text-center fh5co-heading" style="margin-bottom: 30px !important;">
						<h2>Skills</h2>
					</div>
				</div>
				<div class="row">
					<div class="mb-4 col-md-3 col-xs-12 d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>Laravel</strong></span>
						</div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12 d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>JavaScript</strong></span></div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12 d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>jQuery</strong></span></div>
					</div>

					<div class="mb-4 col-md-3 col-xs-12  d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>PHP</strong></span></div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12  d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>MySQL</strong></span></div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12  d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>HTML5</strong></span></div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12  d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
						<span><strong>CSS3</strong></span></div>
					</div>
					<div class="mb-4 col-md-3 col-xs-12  d-flex justify-content-center">
						<div style="display: flex;justify-content: center;align-items: center;width: 100px;height: 100px;border-radius: 50%;background-color: #f1f1f1; border: 2px solid #FF9000;">
							<span><strong>Bootstrap</strong></span></div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-work" class="fh5co-bg-dark">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Work</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-1.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-2.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-3.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-4.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Design</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-5.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Website</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-6.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-7.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 text-center col-padding animate-box">
						<a href="#" class="work" style="background-image: url(static/images/portfolio-8.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-started">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>I'm Available for freelancing!</h2>
						<p>With my expertise in web development</p>
						<p><a href="#" class="btn btn-default btn-lg">Contact Me</a></p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-consult"  class="fh5co-bg-dark">
			<div class="video fh5co-video" style="background-image: url(static/images/cover_bg_1.jpg);">
				<div class="overlay"></div>
			</div>
			<div class="choose animate-box">
				<h2>Contact</h2>
				<form action="#">
					<div class="row form-group">
						<div class="col-md-6">
							<input type="text" id="fname" class="form-control" placeholder="Your firstname">
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-6">
							<input type="text" id="lname" class="form-control" placeholder="Your lastname">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<input type="text" id="email" class="form-control" placeholder="Your email address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<input type="text" id="subject" class="form-control"
								placeholder="Your subject of this message">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<textarea name="message" id="message" cols="30" rows="10" class="form-control"
								placeholder="Say something about us"></textarea>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Message" class="btn btn-default btn-lg">
					</div>

				</form>
			</div>
		</div>

	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; 2017 Free HTML5 Template. All Rights Reserved. <br>Designed by <a
							href="http://freehtml5.co" target="_blank">FreeHTML5.co</a> Demo static/images: <a
							href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{%  static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{%  static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{%  static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{%  static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Stellar Parallax -->
	<script src="{%  static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Easy PieChart -->
	<script src="{%  static 'js/jquery.easypiechart.min.js' %}"></script>

	<!-- Main -->
	<script src="{%  static 'js/main.js' %}"></script>

</body>

</html>